<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ path '/assets/css/global.css' }}">
    <title>Page Preview</title>
</head>
<body class="dark">
{{render '@header'}}
<main>
    <div class="container">
        {{{ yield }}}
    </div>
</main>
{{render '@footer'}}
<script src="/assets/js/bundle.js"></script>
</body>
</html>