html {
    box-sizing: border-box;
    font-size: 0.625em;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    line-height: 1.15;
}

body {
    font-family: Montserrat,sans-serif;
    color: #001e62;
    overflow: hidden;
}

p {
    font-size: 1.4rem;
}

.preview-wrapper {
    padding: 40px 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px; // Fix for https://github.com/twbs/bootstrap/issues/25686
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}