<div class="team-name">
    <span class="team-name-city">{{city}}</span>
    <span class="team-name-name">{{name}} </span>
    <span class="team-name-short" aria-hidden="true">
        {{abbreviation}}
    </span>
</div>