.tags a{
        padding: .5rem .6rem .2rem;
        color: #001e62;
        border: .1rem solid #d7d2cb;
        display: inline-block;
        font-size: 1rem;
        text-decoration: none;
        margin: 0 1rem 1rem 0;
    }