<div class="component fixture-block {{variantClass}}">
    <div class="fixture-block-row">
        <div class="game-details">
            <div class="team team--home">
                <div class="team-identity">
                    {{> @team-badge teamBadge=gamesData.schedule.homeTeam.officialLogoImageSrc}}
                    {{> @team-name city=gamesData.schedule.homeTeam.city name=gamesData.schedule.homeTeam.name abbreviation=gamesData.schedule.homeTeam.abbreviation}}
                </div>
                {{#if hasResults}}
                    {{> @team-score scoreTotal=gamesData.score.homeScoreTotal}}
                {{else}}
                    {{#if variantClass}}
                        {{> @team-score scoreTotal=0}}
                    {{/if}}
                {{/if}}
            </div>

            <div class="game-splitter">@</div>

            <div class="team team--away">
                <div class="team-identity">
                    {{> @team-badge teamBadge=gamesData.schedule.awayTeam.officialLogoImageSrc}}
                    {{> @team-name city=gamesData.schedule.awayTeam.city name=gamesData.schedule.awayTeam.name abbreviation=gamesData.schedule.awayTeam.abbreviation}}
                </div>
                {{#if hasResults}}
                    {{> @team-score scoreTotal=gamesData.score.awayScoreTotal}}
                {{else}}
                    {{#if variantClass}}
                        {{> @team-score scoreTotal=0}}
                    {{/if}}
                {{/if}}
            </div>
        </div>
    </div>

    <div class="fixture-block-row">
        <div class="game-ko-data">
            {{> @game-date-time date="Sun 8th September 2019" time="18:00"}}
            {{> @stadium-name-city name=gamesData.schedule.venue.name city=gamesData.schedule.venue.city}}
        </div>
    </div>
    {{#if game.driveSummary}}
    <div class="fixture-block-row">
        <h2>Drive summary</h2>
        <div class="accordion">
            
        </div>
    </div>
    {{/if}}
</div>