.article-panel {
  position: relative;
  width: 100%;

  h2 {
    line-height: 1.26667;
    font-size: 3rem;
    margin-bottom: 1.7rem;
  }

  p {
    line-height: 1.5;
    margin-bottom: 1.5rem;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
  }

  .article-panel-image {
    margin-bottom: 15px;

    img {
      width: 100%;
    }
  }

  .article-panel-footer {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
  }
}
