<div class="component player-stat">
    <span class="stat-title" aria-label="{{ariaLabelTitle}}">{{title}}</span>
    <span class="stat-value">
        {{#if value}}
            {{value}}{{#ifEquals title 'Weight'}}<span class="unit">lbs</span>{{/ifEquals}}
        {{else}}
            --
        {{/if}}
    </span>
</div>