<div class="component game-date-time">
    <span class="game-time">Time: <time datetime="{{time}}">{{time}}</time></span>
    <span class="game-date">Date: <time datetime="{{date}}">{{date}}</time></span>
</div>